git-copy
*.log
API
migrator-main
*.rtf
*.zip
sample.txt

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
lib/
build/
isolate/